body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    background-color: black;
    padding-left: 24px;
    padding-top: 18px;
}
.nav-links{
    color: white;
    float: right;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    padding: 3px;
    margin-top: 25px;
}
.nav-links>ul>li{
    display: inline;
    cursor: pointer;
    margin-right: 20px;
}
.context{
    color: white;
    padding-top: 70px;
    font-family: none;
    padding-bottom: 70px;
}
.context>p{
    margin-bottom: -70px;
    font-size: 35px;
}
.context>h1{
    font-size: 98px;
    font-weight: normal;
}